distilabel
vllm
transformers
sentence-transformers
sentencepiece
trl
peft
datasets
accelerate
bitsandbytes
autoawq
ray
tenacity
boto3
openai
google-generativeai
anthropic
together
matplotlib
ipywidgets
ipykernel
lingua-language-detector
faiss-gpu
ml_collections